<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text color="dark" class="ion-text-center">
        We do 3D and 2D designs for the building industry in the UK. Gate Calculator suits perfectly for our work. If you need a different type of calculations, you can send descriptions and photos to our email. We are going to include your ideas to Gate Calculator, in the fastest possible time.  
      </ion-text>
      <ion-button text-capitalize=“false” href="mailto:designpro3d@outlook.com" color="primary" fill="outline" expand="block">
        <ion-icon slot="start" name="mail"></ion-icon>
        designpro3d@outlook.com
      </ion-button>
      <ion-button text-capitalize=“false” href="https://itmagic.dev" color="secondary" fill="outline" expand="block">
        <ion-icon slot="start" name="globe"></ion-icon>
        https://itmagic.dev
      </ion-button>
      <img src="assets/images/2.PNG" alt="helical stairs">
    </ion-card-content>
  </ion-card>
</ion-content>
