<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bar Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">

        <ion-item>
          <ion-item>
            <ion-label>{{  toggleBars ? 'Gate with dog bars' : 'Gate without dog bars' }}</ion-label>
            <ion-toggle [(ngModel)]="toggleBars"></ion-toggle>
          </ion-item>
        </ion-item>

        <div class="img-main">
          <img src="/assets/images/gate-bar-1.PNG" alt="Main Gates" *ngIf="toggleBars">
        </div>

        <div class="img-main">
          <img src="/assets/images/gate-bar-2.PNG" alt="Main Gates" *ngIf="!toggleBars">
        </div>

        <ion-grid fixed class="ion-no-margin">
          <ion-row>
            <ion-col size="12" size-md="8" offset-md="2">
              <ion-item lines="none">
                <ion-label position="inline" color="medium">Bar Length:</ion-label>
                <ion-input type="number" [(ngModel)]="_barLength" autofocus (ionChange)="onCalculateData()"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="inline" color="medium">Hole D:</ion-label>
                <ion-input type="number" [(ngModel)]="_barDiam" (ionChange)="onCalculateData()"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="inline" color="medium">Hole Number:</ion-label>
                <ion-input type="number" [(ngModel)]="_barNum" (ionChange)="onCalculateData()"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label class="label-result" position="inline" color="medium">Start:</ion-label>
                <ion-input class="input-result" type="number" disabled="true" [(ngModel)]="_start"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="label-result" position="inline" color="medium">Center:</ion-label>
                <ion-input class="input-result" type="number" disabled="true" [(ngModel)]="_center"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="label-result" position="inline" color="medium">Gap:</ion-label>
                <ion-input class="input-result" type="number" disabled="true" [(ngModel)]="_gap"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-card *ngIf="_gap">
          <ion-card-header>
            <ion-card-subtitle>Start Points</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="img-main" *ngIf="toggleBars">
              <img src="/assets/images/gate-3.png" alt="Stair Steepness">
            </div>

            <div class="img-main" *ngIf="!toggleBars">
              <img src="/assets/images/gate-4.png" alt="Stair Steepness">
            </div>
            <ion-list *ngIf="toggleBars">
              <ion-item
                *ngFor="let s of _startPointsA; let i = index"
                [color]="i % 2 ? 'medium' : 'light'"
              >
                S{{ i + 1 }}: <strong style="margin-left: 1em;">{{ s }}</strong>
              </ion-item>
            </ion-list>

            <ion-list *ngIf="!toggleBars">
              <ion-item
                *ngFor="let s of _startPointsB; let i = index"
                [color]="i % 2 ? 'medium' : 'light'"
              >
                S{{ i + 1 }}: <strong style="margin-left: 1em;">{{ s }}</strong>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
